---
import Main from "../layout/main.astro";
import Footer from "../components/footer.astro";
---

<Main title="My Memes">
  <main class="bg-blue-950">
    <div class="meme-generator">
      <div class="img grid place items-center min-h-dvh">
        <img src="./meme.png" alt="" />
      </div>
      <div
        class="right-2 bottom-1/2 translate-y-0 absolute flex flex-col gap-y-1 bg-blue-950/50 rounded-md"
      >
        <button class="btn grid place-items-center rounded-full p-2">
          <svg
            height="36px"
            width="36px"
            version="1.1"
            id="Layer_1"
            viewBox="0 0 512.00096 511.99975"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            ><defs id="defs8"></defs>
            <g
              id="g3-2-9"
              transform="matrix(0.99998438,0,0,0.99998438,9.6304687e-4,-8.8837891e-4)"
              style="display:inline"
              ><path
                d="m 354.54149,320.30525 c 2.12225,-3.49173 4.05902,-7.10318 5.80511,-10.82269 H 151.65168 c 1.74609,3.71901 3.68426,7.33 5.80635,10.82144 4.24488,6.98419 9.22573,13.49075 14.88026,19.43284 2.82715,2.97091 5.82186,5.80011 8.97766,8.47765 2.78039,-3.22352 5.89123,-6.12432 9.26266,-8.6614 5.05751,-3.8059 10.70333,-6.79411 16.7078,-8.83141 4.00298,-1.3582 8.16538,-2.29366 12.41896,-2.7663 2.1268,-0.23632 4.27621,-0.3575 6.44012,-0.3575 2.65779,0 5.2891,0.17383 7.88139,0.51625 5.18455,0.68486 10.21446,2.04645 14.99651,4.05508 2.39103,1.00431 4.71984,2.17004 6.97512,3.49381 9.02113,-5.29608 19.21737,-8.06514 29.84053,-8.06514 2.16315,0 4.31262,0.12121 6.43886,0.3575 4.25248,0.47259 8.41357,1.40807 12.41647,2.7663 4.00289,1.35823 7.84781,3.13935 11.4652,5.30384 5.42583,3.24658 10.34145,7.35545 14.51775,12.19272 3.1568,-2.67804 6.15361,-5.5077 8.98141,-8.4789 5.6556,-5.9424 10.63769,-12.44968 14.88276,-19.43409 z"
                style="display:inline;fill:#ffffff"
                id="path18"></path><path
                d="M 370.92803,269.54186 H 141.07149 c 0.57598,7.33868 1.85497,14.57365 3.80882,21.64038 h 222.2389 c 1.95485,-7.06673 3.23284,-14.3027 3.80882,-21.64038 z"
                style="display:inline;fill:#ffffff"
                id="path17"></path><path
                d="M 256.00351,8.6854628e-4 A 256.004,256.004 0 0 0 -9.872078e-4,256.00412 256.004,256.004 0 0 0 256.00351,512.00862 256.004,256.004 0 0 0 512.00801,256.00412 256.004,256.004 0 0 0 256.00351,8.6854628e-4 Z M 137.97644,157.12113 c 2.39237,-0.41675 4.94337,0.0793 7.08637,1.58628 l 56.29849,39.58819 c 3.153,2.217 4.65182,6.12043 3.79382,9.87643 -0.858,3.75698 -3.90389,6.62087 -7.70389,7.24887 L 96.238204,232.1312 c -0.522999,0.086 -1.042279,0.1275 -1.556277,0.1275 -4.560992,0 -8.584415,-3.29689 -9.351415,-7.94389 -0.853998,-5.17098 2.645398,-10.05369 7.816388,-10.90769 l 78.32138,-12.93148 -37.32191,-26.24421 c -4.286,-3.015 -5.31779,-8.93425 -2.30379,-13.22023 1.5075,-2.144 3.74148,-3.47332 6.13386,-3.89007 z m 236.0454,0 c 1.79437,0.31266 3.49993,1.13967 4.87633,2.43754 0.45857,0.43241 0.88079,0.91684 1.25752,1.45253 0,0 0,0.001 0,0.001 3.015,4.28699 1.98221,10.20523 -2.30379,13.22023 l -37.32065,26.24296 78.32137,12.93023 c 2.5855,0.427 4.75327,1.86239 6.16761,3.83632 1.41435,1.97392 2.07528,4.48763 1.64878,7.07262 -0.768,4.647 -4.79017,7.94389 -9.35016,7.94389 -0.513,0 -1.03353,-0.0415 -1.55753,-0.1275 L 314.54829,215.4209 c -3.802,-0.627 -6.84714,-3.49089 -7.70514,-7.24887 -0.85799,-3.758 0.64282,-7.65818 3.79382,-9.87518 l 56.29849,-39.58819 c 2.1425,-1.50748 4.69389,-2.00315 7.08638,-1.58628 z m -242.45677,94.1204 h 248.87188 c 5.05306,0 9.14766,4.09559 9.14766,9.15266 0,14.6612 -2.36681,29.08657 -7.03387,42.87576 -8.93313,26.38235 -25.64329,48.99842 -48.3196,65.40365 -22.85731,16.55322 -49.91099,25.30419 -78.23138,25.30419 -28.32134,0 -55.37606,-8.75197 -78.23637,-25.30919 -11.33566,-8.20061 -21.18006,-17.95444 -29.30802,-28.95676 -4.06398,-5.50116 -7.69936,-11.31488 -10.87644,-17.40156 -3.17708,-6.08668 -5.89661,-12.44724 -8.13014,-19.04283 -4.66707,-13.78919 -7.03388,-28.21356 -7.03388,-42.87576 0,-5.05307 4.0971,-9.15016 9.15016,-9.15016 z"
                style="display:inline;fill:#ffffff"
                id="path16"></path><circle
                style="display:none;fill:#f7b239;stroke-width:0.999984"
                cx="181.08366"
                cy="50.615223"
                r="255.99998"
                id="circle1-92-2-1-0"></circle><path
                style="display:none;fill:#e09b2d"
                d="M 121.499,390.501 C 29.407,298.407 22.15,153.608 99.723,53.204 91.13,59.842 82.862,67.099 74.98,74.981 c -99.974,99.974 -99.974,262.065 0,362.038 99.974,99.973 262.065,99.974 362.038,0 7.881,-7.881 15.138,-16.15 21.777,-24.743 -100.403,77.574 -245.202,70.317 -337.296,-21.775 z"
                id="path1-0-8-3"></path><path
                style="display:none;fill:#ffffff"
                d="m 126.955,264.933 h 258.092 c 0,14.486 -2.391,28.415 -6.794,41.421 H 133.749 c -4.403,-13.006 -6.794,-26.935 -6.794,-41.421 z"
                id="path2-2-9-6"></path><path
                style="display:none;fill:#a81004"
                d="m 133.749,306.354 h 244.504 c -8.679,25.632 -25.189,47.633 -46.684,63.182 -9.033,-15.22 -25.632,-25.417 -44.622,-25.417 -11.602,0 -22.305,3.808 -30.946,10.248 -8.641,-6.44 -19.357,-10.248 -30.958,-10.248 -18.977,0 -35.589,10.197 -44.609,25.417 -21.496,-15.549 -38.006,-37.55 -46.685,-63.182 z"
                id="path3-3-7-1"></path><path
                style="display:none;fill:#f95428"
                d="m 286.946,344.119 c 18.99,0 35.589,10.197 44.622,25.417 -21.242,15.384 -47.355,24.443 -75.568,24.443 -28.213,0 -54.326,-9.059 -75.568,-24.443 9.021,-15.22 25.632,-25.417 44.609,-25.417 11.601,0 22.317,3.808 30.958,10.248 8.643,-6.44 19.346,-10.248 30.947,-10.248 z"
                id="path4-7-3-0"></path><path
                d="M 256.004,-9.9579727e-4 C 114.8428,-9.9579727e-4 5.6054688e-6,114.84179 5.6054688e-6,256.004 5.6054688e-6,397.1662 114.8428,512.00899 256.005,512.00899 397.1652,512.00899 512.008,397.1662 512.008,256.004 512.008,114.84179 397.1642,-9.9579727e-4 256.004,-9.9579727e-4 Z M 256.004,493.7077 c -131.07104,0 -237.705704,-106.63266 -237.705704,-237.7037 0,-131.07105 106.634664,-237.705706 237.705704,-237.705706 131.07004,0 237.70371,106.633656 237.70371,237.705706 0,131.07204 -106.63367,237.7037 -237.70371,237.7037 z"
                id="path5-9-0"
                style="display:none;stroke-width:1.00002"></path><path
                d="m 226.14846,345.89883 c -11.42716,0 -22.27766,4.87261 -29.92677,13.08273 17.97526,10.94916 38.45828,16.69604 59.77855,16.69404 21.32032,0 41.80004,-5.74438 59.7723,-16.69154 -7.66011,-8.21412 -18.51061,-13.08523 -29.93178,-13.08523 -8.86313,0 -17.29081,2.78731 -24.37292,8.06639 -3.24305,2.41704 -7.6899,2.41704 -10.93395,0 -7.0831,-5.27708 -15.5153,-8.06639 -24.38543,-8.06639 z"
                style="display:inline;fill:#ffffff"
                id="path11-4"
                transform="translate(-2.3190862e-5)"></path></g
            ></svg
          >
        </button>
        <button class="btn grid place-items-center text-white rounded-full p-2"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="36px"
            height="36px"
            viewBox="0 0 20 20"
            ><path
              fill="currentColor"
              d="M15.65 4.35A8 8 0 1 0 17.4 13h-2.22a6 6 0 1 1-1-7.22L11 9h7V2z"
            ></path></svg
          ></button
        >
      </div>
    </div>
  </main>
  <Footer />
</Main>
