---
import Main from "../layout/main.astro";
import Footer from "../components/footer.astro";
---

<Main title="My Memes">
  <!-- <Header navLink={links} /> -->
  <main class="bg-slate-400 min-h-dvh">
    <div class="meme-generator bg-orange-200 w-full min-h-dvh">
      <div class="img w-full h-full">
        <img src="" alt="" />
      </div>
      <div
        class="right-0 bottom-1/2 translate-y-0 absolute flex flex-col gap-y-2"
      >
        <button class="btn grid place-items-center bg-pink-500 rounded-full p-2"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.2rem"
            height="1.2rem"
            viewBox="0 0 20 20"
            ><path
              fill="currentColor"
              d="M15.65 4.35A8 8 0 1 0 17.4 13h-2.22a6 6 0 1 1-1-7.22L11 9h7V2z"
            ></path></svg
          ></button
        >
        <button class="btn grid place-items-center bg-pink-500 rounded-full p-2"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.2rem"
            height="1.2rem"
            viewBox="0 0 20 20"
            ><path
              fill="currentColor"
              d="M15.65 4.35A8 8 0 1 0 17.4 13h-2.22a6 6 0 1 1-1-7.22L11 9h7V2z"
            ></path></svg
          ></button
        >
      </div>
    </div>
  </main>
  <Footer />
</Main>
