---

---

<article class="p-4 text-zinc-200 border-t border-zinc-500 pt-5">
  <div class="wider:w-1/2">
    <h1 class="text-xl font-bold">About Memes Page</h1>
    <p class="mb-2 mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sunt
      architecto officia saepe soluta, sequi laborum tempore dolorem ipsa totam
      natus sapiente, autem aperiam perferendis dignissimos numquam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, sed illo!
      Quod itaque voluptas nam voluptatem cupiditate?
    </p>
  </div>
</article>
