---

---

<article class="p-4 text-zinc-200 border-t border-zinc-500 pt-5">
  <div class="wider:w-1/2 wider:mx-auto">
    <h1 class="text-xl font-bold">About Memarandom</h1>
    <p class="mb-2 mt-4">
      All the images/memes found in this website are memes that I've found funny
      or entertaining, they are found across the internet, and I did not create
      them and have no rights over them.
    </p>
    <p>
      Some of them are offensive and can be sensitive for others, So be warned.
    </p>
    <!-- Please press the button on the right to start generating memes. -->
  </div>
</article>
